@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .example {
    @apply rounded w-full h-8 placeholder:text-sm placeholder:text-zinc-700 active:text-zinc-900 
    focus:text-zinc-900  focus:border-white  focus:ring-white active:border-white bg-zinc-200 font-extralight placeholder:font-extralight;
  }
  .hamburger {
    @apply text-2xl hover:cursor-pointer  transition-all ease-in-out duration-500 relative z-50
    
    md:hidden;
  }
  .navbarDropdownList {
    @apply fixed w-screen h-screen top-0 left-0 p-2 bg-white flex text-center items-start justify-center
    transition-all duration-300 scale-0 origin-top-right z-10;
  }
  .navbarDropdownListItem {
    @apply text-lg hover:cursor-pointer hover:bg-slate-50;
  }
  .navbarStandardListItem {
    @apply text-lg hover:cursor-pointer hover:bg-slate-50;
  }

  .smIcons {
    @apply rounded-md h-image  
    text-xl hover:cursor-pointer hover:opacity-70 text-zinc-900;
  }
  .contactlinks {
    @apply rounded-md 
    text-4xl underline underline-offset-8 tracking-wider hover:cursor-pointer hover:bg-slate-50 text-zinc-900;
  }
  .signUpFormTextInput {
    @apply rounded w-full border-slate-200 border-b border-t border-l border-r p-2 h-12 flex justify-start items-center placeholder:text-sm placeholder:text-zinc-700 active:text-zinc-900 
    focus:text-zinc-900 active:border-black focus:outline-none hover:cursor-text active:cursor-text focus:ring-white focus:shadow-2xl active:shadow-2xl bg-slate-50 font-extralight placeholder:font-extralight transition-all ease-in-out duration-700;
  }
  .submitButton {
    @apply w-full h-12 bg-zinc-200 rounded-md hover:cursor-pointer hover:bg-zinc-300;
  }
}

.swiper {
  width: 100%;
  height: 75%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-pagination-bullet-active {
  background-color: rgb(250 250 250) !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(250 250 250) !important;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
